:root {
  --dark: #0A192F;
  --grey: #CCD6F6;
  --green: #5FF1D0;
  --light-grey: #8892B0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: var(--dark);
}
